<!--Date of Review-->
<a href="#" class="meta-date">
  <span class="bolder"><%= post.created_at.strftime("%d") %></span>
  <%= post.created_at.strftime("%b") %>
</a>

<!--Review Title-->
<h2><%= link_to post.title, post_path(post) %></h2>

<!--Review Image and Tag Lines-->
<div class="img-wrap text-center">
  <%= link_to image_tag(post.cover_image, class: "img-responsive"), post_path(post) %>
</div>

<!-- Author Information -->
<div class="author-box">
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">Written by James</h4>
    </div>
  </div>
</div>

<!--Product Shop and Address-->
<h5 class="text-center">Reviewed from <%= post.city %>, <%= post.country %>.</h5>
<hr>
