<!-- Headline -->
<div id="tf-page-header" class="layout-two text-center">
  <div class="container">
    <h5><em>Article</em></h5>
    <hr>
  </div>
</div>

<div id="tf-content" class="layout-two">
  <div class="container">
    <div class="row">

      <div class="col-md-8">
        <div class="blog-post">
          <div class="post-detail">
            
            <!--Date of Review-->
            <a href="#" class="meta-date">
              <span class="bolder"><%= @post.created_at.strftime("%d") %></span>
              <%= @post.created_at.strftime("%b") %>
            </a>

            <!--Review Title-->
            <h2><%= link_to @post.title, post_path(@post) %></h2>

            <!--Review Image and Tag Lines-->
            <div class="img-wrap text-center">
              <%= link_to image_tag(@post.cover_image, class: "img-responsive"), post_path(@post) %>
            </div>

            <!-- Author Information -->
            <div class="author-box">
              <div class="media">
                <div class="media-body">
                  <h4 class="media-heading">Written by James Njine</h4>
                </div>
              </div>
            </div>

          
            <!--Post Body-->
            <div class="post-content">
              <%= raw(@post.body) %>
            </div>
          </div>

          <!-- Edit and Delete Buttons -->
          <% if admin_signed_in? %>
            <%= link_to "Edit this Post", edit_post_path(@post), class: "edit-btn" %>
            <%= link_to "Delete this Post", post_path, method: :delete, 
                                                data: { confirm: "Are you sure you want to delete this post?" }, 
                                                class: "delete-btn" %>
          <% end %>
        

        </div>
          <div class="text-center">    
            <%= link_to "Back to All Posts", posts_path, class: 'btn btn-default btn-block tf-btn color' %> 
          </div>
      </div>

      <div class="col-md-4">
        <div class="sidebar">
          <div class="widget recent">
            <h4>Recent Posts</h4>
            <div class="widget-wrap">
              <% @featured_posts.each do |post| %>
                <div class="thumb-post">
                  <%= link_to post_path(post) do %>
                    <div class="info">
                      <h3 class="media-heading"><%= post.title %></h3>
                       <%= image_tag(post.cover_image, class: "img-responsive") %>
                    </div>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
